{% extends "layout.twig" %}

{% block Content %}

    <h1>Hello {{ username }}</h1>

    <h3>Those are some raccomandations when you travel in {{ countries[country_id] }}</h3>
    <p>
        lorem ipsum...
    </p>

{% endblock %}